/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    font-weight: 700;
    color: #fff;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
    margin-right: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #ffc107;
}

.hero-section {
    text-align: center;
    padding: 100px 20px;
    background-image: linear-gradient(to right, #4e54c8, #8f94fb);
    color: #fff;
}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.hero-section p {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

.hero-section .btn {
    padding: 20px 40px;
    font-size: rem;
    font-weight: 500;
    border-radius: 50px;
    margin: 5px;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-warning.text-dark {
    color: #343a40;
}

/* New Button Styles */
.btn-get-help {
    background-color: #28a745; /* Green color for "Get Help" */
    color: #fff;
}

.btn-emergency {
    background-color: #dc3545; /* Red color for "Emergency" */
    color: #fff;
}

.btn-get-help:hover {
    background-color: #218838; /* Darker green on hover */
}

.btn-emergency:hover {
    background-color: #c82333; /* Darker red on hover */
}

/* Button Container */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}
